*.exe
*.pdb
*.ilk

bin/
build/
emsdk/

inc/imgui/.github/
inc/imgui/docs/
inc/imgui/examples/
inc/imgui/backends/
inc/imgui/misc/fonts/

inc/imgui/.editorconfig
inc/imgui/.gitattributes
inc/imgui/.gitignore
inc/imgui/misc/README.txt
inc/imgui/misc/cpp/README.txt
inc/imgui/misc/debuggers/README.txt
inc/imgui/misc/freetype/README.md

inc/sokol/.github/
inc/sokol/bindgen/
inc/sokol/tests/

inc/sokol/.editorconfig
inc/sokol/.gitignore
inc/sokol/README.md
inc/sokol/CHANGELOG.md
inc/sokol/util/gen_sokol_color.py
inc/sokol/util/sokol_memtrack.h
inc/sokol/util/sokol_nuklear.h
inc/sokol/util/sokol_shape.h
inc/sokol/util/sokol_spine.h
inc/sokol/fips.yml